body {
    margin: 0; 
    padding: 0; 
}
header {
    background-color: grey;
    top: 0; 
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

}
header ul {
    display: flex; 
    flex-direction: row;
    justify-content: space-around;
}
header li {
    list-style: none;
}
header a {
    text-decoration: none;
    color: white; 
}

.title {
    text-align: center;
}
footer {
    background-color: grey;
    bottom: 0; 
    padding: 15px; 
    width: 100%; 
    position: fixed;
    text-align: center;
    box-shadow: 15px;
}
footer p {
    color: white; 
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
body {
    background-color: lightcyan;
}
main {
    text-align: center;
}

ol {
    margin: auto;
    text-align: center;
  }
  .list {
    background-color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    width: 25%; 
    margin-left: auto;
    margin-right: auto;
    display: flex; 
    flex-direction: column;
    justify-content: space-around;
    border-radius: 25px;
  }
  .list li {
    padding: 15px; 
  }